@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap')

body{
	font-family: 'Poppins', sans-serif;

}

body section{
	margin: 0px 20px;
}

/*nav{
	background: #cecece;
}
*/

section  h2{
	width: 500px;
	text-align: right;
	padding-right: 30px;

}
nav ul{
	padding-left: 0;
	text-align: center;
}

nav li{
	display: inline-block;
	list-style: none;
	border-bottom: 2px solid black;
	margin: 20px 10px;
	text-transform: uppercase;
}
h2{
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

a{
	color: black;
	text-decoration: none	;

}

.cool::before{
	content:  'Hello';
	font-size: 65px;
	color: green;
}